body {
    background: #19aa8d;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1558403194-611308249627?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGpvYiUyMGludGVydmlld3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-position: center;
  }
  .form-control {
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
  }
  .form-control, .form-control:focus, .input-group-text {
      border-color: #e1e1e1;
  }
  .form-control, .btn {
      border-radius: 3px;
  }
  .Login {
      width: 750px;
      margin: 0 auto;
      padding: 30px 0;
  }
  .Login form {
      color: white;
      border-radius: 3px;
      margin-top: 80px;
      background: rgb(216, 215, 214);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  .Login h2 {
      color: white;
      font-weight: bold;
      margin-top: 0;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  .Login hr {
      margin: 0 -30px 20px;
  }
  .Login .form-group {
      margin-bottom: 20px;
  }
  .Login label {
      font-weight: normal;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
  }
  .Login .form-control {
      min-height: 38px;
      box-shadow: none !important;
  }
  .Login .input-group-addon {
      max-width: 42px;
      text-align: center;
  }
  .Login .btn, .Login .btn:active {
      font-size: 20px;
      font-weight: bold;
      background:  rgb(92, 122, 221) !important;
      border: none;
      min-width: 140px;
    padding: 14px 50px;
    border-radius: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
  }
  .Login .btn:hover, .Login .btn:focus {
      background: rgb(52, 14, 224) !important;
  }
  .Login a {
      color: #fff;
      text-decoration: underline;
  }
  .Login a:hover {
      text-decoration: none;
  }
  .Login form a {
      color: rgb(36, 87, 226);
      text-decoration: none;
  }
  .Login form a:hover {
      text-decoration: underline;
  }
  .Login .fa {
      font-size: 21px;
  }
  .Login .fa-paper-plane {
      font-size: 18px;
  }
  .Login .fa-check {
      color: #fff;
      left: 17px;
      top: 18px;
      font-size: 7px;
      position: absolute;
  }