*{
    box-sizing: border-box;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 50px;
}
.section-title h3{
    margin: 0 0 0 0;
    font-size: 32px;
    font-weight: 500;
}
p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1em;
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}
@media screen and (min-width: 50rem){
.ContentBlocks {
    font-size: 1.375rem;
    line-height: 1.3;
    font-weight: 200;
    text-align: center;
}
}
@media screen and (min-width: 50rem){
.ContentBlocks__richtext>h1, .ContentBlocks__richtext>h2 {
    font-size: 3rem;
    line-height: 1.15;
    font-weight: 700;
}}
.ContentBlocks__component {
    max-width: 82rem;
    margin: min(max(3.333333333333333rem,calc(2.124769797421731rem + 5.156537753222836vw)),6.25rem) auto;
}
@media screen and (min-width: 50rem){
.ContentBlocks {
    font-size: 1.375rem;
    line-height: 1.3;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
}}
.MediaSoloBlock--wide>* {
    max-width: 68rem;
}
.Media--rounded .Media__fig, .Media--rounded .Media__image, .Media--rounded .Media__link {
    border-radius: 0.4rem;
    overflow: hidden;
    margin-left: 40%;
}
.Media__fig iframe, .Media__fig video {
    width: 30rem;
    height: 30rem;
}