body {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar-vertical.navbar-expand-lg {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 350px;
	overflow-y: auto;
}

.navbar-vertical .navbar-nav .nav-link {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: black;
}

.navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link {
	padding-left: 2.25rem;
}

.navHeading {
	padding-left: 0.35rem;
}
.navPagesSub .nav-item .nav-link {
	padding-left: 3.25rem !important;
}

.nav-link {
	font-weight: bold;
	color: black;
}
.highlight {
	background: #7ab1f0;
	border-radius: 25px;
	color: white;
}

li {
	padding: 0 20px;
}

/* hero */

.hero {
	text-align: center;
	overflow-x: hidden;
}

@media (min-width: 697px) {
	.hero {
		min-height: 35rem; /* 560px */
		text-align: left;
	}
	.hero .container {
		display: flex;
		align-items: center;
	}
}

.hero__image {
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
}

@media (min-width: 697px) {
	.hero__image {
		background-image: none;
		flex: 1;
		order: 2;
		min-height: 35rem;
	}
}

.hero__image::before {
	margin-top: 1rem;
	background-image: url("https://static.vecteezy.com/system/resources/previews/001/879/420/non_2x/illustration-of-e-learning-makes-it-easy-for-student-to-learn-distance-learning-with-laptop-and-internet-online-home-work-courses-and-study-for-open-knowledge-stationery-and-stack-of-book-free-vector.jpg");
}
.heroimgleft {
	width: 110%;
	height: 110%;
}
.logo {
	height: 2.5rem;
	width: 7rem;
}
@media (min-width: 1024px) {
	.hero__image::before {
		display: block;
		width: 132%;
	}
}

.hero__text h1 {
	font-size: 2.1875rem; /* 35px */
	line-height: 1.4;
	color: var(--clr-neutral-VeryDarkBlue);
	margin-bottom: 1.5rem; /* 24px */
}

.hero__text p {
	line-height: 1.5;
	margin-bottom: 1.5rem; /* 24px */
	color: var(--clr-neutral-GrayishBlue);
}

@media (min-width: 1024px) {
	.hero__text {
		flex: 1;
		order: 1;
	}

	.hero__text h1 {
		font-size: 3.1875rem; /* 51px */
	}
}

.btns {
	padding: 10px 20px;
	background-color: #7ab1f0;
	border: 0px;
	border-radius: 20px;
}
.smallfont {
	color: #003b5fbe;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	margin: 10px 0;
}

/* testpage */

.dash-item {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	padding: 1.2rem 1.4rem 1rem;
	background: rgb(156, 199, 219);
	list-style: none;
	transition: all 0.5s;
	margin: 0 0 0.8rem;
	position: relative;
	overflow: hidden;
	transition: all 0.2s cubic-bezier(0, 0, 0.3, 1);
}
@media (min-width: 500px) {
	.dash-item {
		flex-basis: 49%;
		margin: 0 2% 0.8rem 0;
	}
	.dash-item:nth-child(2n) {
		margin-right: 0;
	}
}
@media (min-width: 800px) {
	.dash-item {
		flex-basis: 28%;
		margin-right: 1.25%;
	}
	.dash-item:nth-child(2n) {
		margin-right: 1.25%;
	}
	.dash-item:nth-child(3n) {
		margin-right: 0;
	}
}
.dash-item--published {
	box-shadow: inset 4px 0 0 #000000, 0 1px 0 rgba(0, 0, 0, 0.1);
}
.dash-item--draft {
	box-shadow: inset 4px 0 0 #000000, 0 1px 0 rgba(0, 0, 0, 0.1);
}
.dash-item__header {
	position: relative;
	z-index: 99;
	background: rgb(0, 0, 0);
	color: white;
}
.dash-item__title {
	font-size: 1rem;
	padding: 0 24px 0.5rem 0;
	margin: 0;
}
.dash-item__content {
	padding: 1.8rem 0 0.375rem;
	position: relative;
	transition: all 0.2s cubic-bezier(0, 0, 0.3, 1);
}
.dash-item__status {
	font-size: 0.7rem;
	font-weight: 300;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	position: absolute;
}
.dash-item__nav {
	position: absolute;
	right: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}
.dash-item__nav__item {
	display: inline-block;
	font-size: 0.85rem;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-right: 10px;
}
.dash-item__nav__item:last-of-type {
	margin-right: 0;
}
.dash-item__nav--collapsible {
	display: none;
	position: absolute;
	background: #fff;
	bottom: auto;
	right: auto;
	top: 100%;
	margin-top: 0.2rem;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s cubic-bezier(0, 0, 0.3, 1);
}
.dash-item__nav--collapsible .dash-item__nav__item {
	padding: 0.4rem 0;
}
.dash-item__menu-action {
	background: none;
	border: none;
	color: rgb(0, 0, 0);
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}
.dash-item__menu-action__icon {
	width: 24px;
	height: 24px;
	fill: rgb(0, 0, 0);
	transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
}
.dash-item__menu-action__icon--bottom {
	position: absolute;
	left: 0;
}
.dash-list--focus-one {
	background: #bcd4ce;
}
.dash-list--focus-one .dash-item {
	opacity: 0.675;
}
.dash-list--focus-one .dash-item--menu-active {
	transform: translate3d(0, -3px, 0);
	box-shadow: inset 4px 0 0 #000000, 0 2px 2px rgba(0, 0, 0, 0.2);
	opacity: 1;
}
.dash-item--menu-active .dash-item__menu-action__icon--bottom {
	transform: translateY(-15.5%);
}
.dash-item--menu-active .dash-item__menu-action__icon--top {
	transform: rotateX(-180deg) translateY(0px);
}
.dash-item--menu-active .dash-item__nav--collapsible {
	display: block;
	animation: slideInTop 0.25s cubic-bezier(0, 0, 0.3, 1) forwards;
}
.dash-item--menu-active .dash-item__content {
	opacity: 0.4;
	transform: translate3d(0, 0.675rem, 0);
}
.quiz-results {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.quiz-results__item {
	margin: 0 2% 0 0;
	padding: 0;
	color: #000000;
}
@media (max-width: 280px) {
	.quiz-results__item {
		width: 100%;
		padding: 0;
		margin-bottom: 0.6rem;
	}
}
.quiz-results__number {
	font-size: 1.6rem;
	line-height: 1;
	position: relative;
}
.dash-item--draft .quiz-results__number {
	opacity: 0.5;
}
.quiz-results__number--average-score {
	color: #000000;
}
.quiz-results__number--average-score:after {
	content: "%";
	font-size: 0.9rem;
	position: absolute;
	top: 0.3rem;
	right: -0.6rem;
}
.quiz-results__label {
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: 300;
	color: rgb(30, 0, 112);
}
@keyframes slideInTop {
	0% {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.bgtest {
	background-color: rgb(255, 255, 255);
}

.centered {
	max-width: 90rem;
	margin: 0 auto;
	padding: 2rem 20px 3rem;
	font-family: "ff-tisa-sans-web-pro", Trebuchet MS, Lucida Grande,
		Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

#quiz .card {
	margin-top: 1.25em;
}
.card {
	background: rgba(28, 155, 197, 0.774);
}

.middle {
	text-align: center;
	margin: 20px 0;
}
.card-title {
	color: #000;
	text-align: center;
	font-weight: 700;
}
.list-group {
	padding-bottom: 1em;
}
.btn-secondary {
	margin-right: 1em;
	border: 2px solid #003b5fbe;
	background: black;
	color: white;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

.App .card {
	max-width: 400px;
	width: 100%;
	text-align: center;
}

label.radio {
	display: block;
	text-align: left;
	padding: 15px;
	margin-bottom: 5px;
	font-size: 20px;
}

label.radio + .radio {
	margin-left: 0;
}

label.radio input {
	margin-right: 10px;
}

.container .page-wrapper {
	font-family: "Roboto Condensed", sans-serif;
}
.container .page-wrapper .box {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	list-style: none;
}
.container .page-wrapper .box .box-item {
	position: relative;
	flex-basis: calc(100% / 3 - 80px);
	padding: 20px;
	transition: box-shadow 0.25s ease-in;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
	margin: 15px 20px;
	text-decoration: none;
}
.container .page-wrapper .box .box-item:hover {
	box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.15);
}
.profileimg {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	height: 150px;
	width: 150px;
}
.container .page-wrapper .box .box-item:hover:before {
	background: #00aeef;
	width: 100%;
}
.container .page-wrapper .box .box-item:before {
	height: 6px;
	width: 6%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	content: "";
	background: #004964;
	transition: width 0.35s;
}
.container .page-wrapper .box .box-item-content .category {
	font-size: 16px;
	color: #004964;
	text-align: left;
	font-weight: bold;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 15px;
}
.container .page-wrapper .box .box-item-content .header {
	font-size: 18px;
	color: #221f20;
	text-align: left;
	font-weight: 600;
	margin-bottom: 15px;
}
.container .page-wrapper .box .box-item-content .info-text {
	font-size: 16px;
	font-weight: 500;
	font-weight: 500;
	margin-bottom: 15px;
}
.container .page-wrapper .box .box-item-content .btn {
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	background-color: #004964;
	border-radius: 25px;
}
@media all and (max-width: 1100px) {
	.container .page-wrapper .box .box-item {
		flex-basis: calc(100% / 2 - 40px);
	}
}
@media all and (max-width: 768px) {
	.container .page-wrapper .box .box-item {
		flex-basis: calc(100% / 1 - 40px);
	}
}
