article {
    text-align: center;
    
}
h1.entry-title, h1.page-title {
    overflow-wrap: break-word;
}
h1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.25;
}
h3 {
    font-weight: 500;
    font-size: 1.65rem;
    line-height: 1.45;
}